/* PHASE 7: Online */

.profile-picture {
  position: relative;
  overflow: hidden;
}

.online {
  color: white;
  position: absolute;
  background-color: #0c0;
  transform: rotate(-45deg); 
  z-index: 1;
  padding: 5px;
  top: 5px;
  left: -20px;
  padding-left: 20px;
  padding-right: 20px;
}